h1 {
	font-size: 18px;
	margin: 8px 0;
}
div.container {
	position: relative;
	width: 900px;
	height: 750px;
	margin-top: 10px;
	background:url('starfield.jpg') repeat;
}
#canvas, #canvas2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
div#debug {
	width: 900px;
	height: 70px;
	overflow-y: auto;
	font-size: 12px;
}
